{deps, [grisp]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "22.0"}
    ]},

    {deploy , [
    % ==========
    % Mac OS X :
    % ==========
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    % ==========
    % Linux :
    % ==========
    %     {pre_script , "rm -rf /media/user/GRISP/*"} ,
    %     {destination , "/media/user/GRISP"} ,
    %     {post_script , "umount /media/user/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {workshop, "0.1.0"}, [workshop]}
]}.