{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "22.0"}
    ]},

    {deploy , [
    % ==========
    % Mac OS X :
    % ==========
    %    {pre_script, "rm -rf /Volumes/GRISP/*"},
    %    {destination, "/Volumes/GRISP"},
    %    {post_script, "diskutil unmount /Volumes/GRISP"}
    % ==========
    % Linux :
    % ==========
         {pre_script , "rm -rf /media/julien/GRISP/*"} ,
         {destination , "/media/julien/GRISP"} ,
         {post_script , "umount /media/julien/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {workshop, "0.1.0"}, [{epmd, none}, workshop]}
]}.